* {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}
header {
  text-align: center;
  background-color: #000000;
  padding: 15px;
  color: #ffffff;
}
main img {
  width: 100%;
}
article {
  display: flex;
  background-color: #000000;
  margin-top: -5px;
  color: #ffffff;
}
article p {
  width: 475px;
  height: 197px;
  margin: 76px 170px 75px 197px;
  font-size: 16px;
  font-weight: 100;
  opacity: 100%;
}
article img {
  width: 399px;
  height: 237px;
  margin: 45px 150px 66px 53px;
}
.iconos {
  background-color: #1e1a13;
  color: #ffffff;
  text-align: center;
  padding: 75px;
}
.iconos .logos {
  display: flex;
  justify-content: space-evenly;
  padding: 50px;
}
section h2 {
  font-size: 40px;
}
section h4 {
  padding: 20px;
  font-size: 1.5em;
  font-weight: 300;
}
.galeria {
  display: flex;
  background-color: #000000;
  justify-content: center;
}
.galeria img {
  width: 315px;
  padding: 10px;
  padding-top: 73px;
  padding-bottom: 73px;
}
footer {
  background-color: #1e1a13;
  padding: 30px;
  color: #ffffff;
  text-align: center;
}
